<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5.0">
    <title>Tabs</title>

    <!-- Core -->

    <script src="../Core/Core.js"></script>
    <script src="../Core/Events.js"></script>
    <script src="../Core/Window.js"></script>
    <script src="../Core/Helpers/Prototypes.js"></script>

    <!-- Tabs -->

    <script src="Tabs.js"></script>

    <!-- Example -->

    <link href="Style.css" rel="stylesheet" type="text/css">
  </head>
  <body>

    <div class="tabs" tabs>
      <div class="tabs-header">
        <div class="tabs-navigation">
          <button class="tabs-button active" type="button" tabs-button="tab-1">Tab 1</button>
          <button class="tabs-button" type="button" tabs-button="tab-2">Tab 2</button>
          <button class="tabs-button" type="button" tabs-button="tab-3">Tab 3</button>
          <button class="tabs-button" type="button" tabs-button="tab-4">Tab 4</button>
        </div>
      </div>
      <div class="tabs-body">
        <div class="tabs-container" tabs-container>
          <div class="tabs-box active" tabs-box="tab-1">
            <div class="tabs-padding">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt malesuada elit sed aliquet. Nullam at iaculis ante. Proin mattis ligula ac faucibus
                efficitur. Mauris tincidunt aliquet dolor, et blandit dolor interdum eu. Aenean rutrum, nulla eget vestibulum placerat, mi turpis tristique ex, nec mattis
                quam massa at dui. Maecenas in efficitur nibh, at facilisis arcu. Aliquam euismod in sem sed pulvinar. Duis viverra finibus lectus fringilla pretium. Duis
                felis dolor, ornare venenatis diam sit amet, scelerisque dignissim ipsum. Nam in arcu ac augue euismod mollis nec in tortor. Morbi vehicula urna arcu, non
                commodo urna scelerisque sed. Nam consequat ipsum est. Vestibulum maximus lobortis ornare.
              </p>
            </div>
          </div>
          <div class="tabs-box" tabs-box="tab-2">
            <div class="tabs-padding">
              <p>
                Suspendisse dignissim et augue interdum pretium. Proin sit amet nisi at diam tincidunt ultrices. Donec vehicula sollicitudin velit. Mauris rutrum ultricies
                ex eu rutrum. Nunc varius, nunc vitae condimentum vehicula, quam magna congue est, non feugiat elit dui hendrerit leo. Aenean iaculis malesuada magna vel
                faucibus. Aliquam porttitor sapien et pretium blandit. Sed eu sem rutrum, mollis ipsum at, lacinia metus. Maecenas egestas hendrerit neque, eget tristique
                urna ultricies at.
              </p>
            </div>
          </div>
          <div class="tabs-box" tabs-box="tab-3">
            <div class="tabs-padding">
              <p>
                Nulla iaculis est eu urna gravida facilisis. Donec at suscipit nunc, in lobortis est. Phasellus lobortis quis lacus id molestie. Nulla efficitur dapibus
                tortor et ornare. Vestibulum feugiat mi ante, quis commodo dui tristique quis. Duis enim turpis, dignissim mollis urna vitae, convallis tristique sem.
                Duis auctor vehicula viverra. Ut eu justo aliquet, fringilla turpis id, hendrerit sapien. Nullam nec enim et urna gravida ultricies eu at massa.<br><br>
                Quisque blandit ipsum molestie, aliquet urna at, tristique diam. Donec sodales, libero et cursus feugiat, erat ex tincidunt purus, sit amet ultrices odio
                neque vel metus. Nulla facilisi. Maecenas lorem sapien, tincidunt non enim eu, auctor malesuada quam. Morbi dignissim, mi non fermentum blandit, risus nisi
                tristique sem, et volutpat nisi odio non magna. Vestibulum ut auctor lorem, vel dictum risus. Sed rutrum libero iaculis enim convallis, et aliquam dui lacinia.
              </p>
            </div>
          </div>
          <div class="tabs-box" tabs-box="tab-4">
            <div class="tabs-padding">
              <p>
                Duis in auctor tortor. Quisque mattis ac massa et convallis. Mauris ut purus odio. Nullam posuere placerat dignissim. Proin ultricies massa ligula, id
                euismod enim porttitor vitae. Cras rhoncus sem vitae nisi venenatis, non aliquet dui aliquet. Sed volutpat viverra tincidunt. Sed vel scelerisque nisl.
                Aliquam dapibus augue justo, eu vulputate leo finibus at. Donec mollis ligula non massa semper, a eleifend sapien condimentum. Cras feugiat purus imperdiet,
                mattis nisi at, faucibus tortor.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>