body {
  margin: 0;
  padding: 10% 25%;
}

p {
  margin: 0;
  padding-bottom: 15px;
}
p:last-child {
  padding: 0;
}

.tabs {}

.tabs-header {}

.tabs-navigation {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;
}

.tabs-button {
  background: none;
  border: 1px solid #000;
  border-bottom: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: .2s;
}
.tabs-button.active {
  background: #000;
  color: #FFF;
}

.tabs-body {
  border: 1px solid;
}

.tabs-container {
  position: relative;
  overflow: hidden;
  transition: .2s height;
}

.tabs-box {
  z-index: 1;
  opacity: 0;
  transition: .2s opacity;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  user-select: none;
  pointer-events: none;
}
.tabs-box.active {
  z-index: 2;
  opacity: 1;
  position: relative;
  user-select: auto;
  pointer-events: auto;
}

.tabs-padding {
  padding: 20px;
}