<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5.0">
    <title>LoadAnimation</title>

    <!-- Core -->

    <script src="../Core/Helpers/Prototypes.js"></script>
    <script src="../Core/Core.js"></script>
    <script src="../Core/Events.js"></script>
    <script src="../Core/Window.js"></script>

    <!-- LoadAnimation -->

    <link href="LoadAnimation.css" rel="stylesheet" type="text/css">
    <script src="LoadAnimation.js"></script>

    <!-- Example -->

    <link href="Style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1 lanim>Title</h1>
    <ul>
      <li lanim="up">Element 1</li>
      <li lanim="right">Element 2</li>
      <li lanim="bottom">Element 3</li>
      <li lanim="left">Element 4</li>
      <li lanim="up">Element 1</li>
      <li lanim="right">Element 2</li>
      <li lanim="bottom">Element 3</li>
      <li lanim="left">Element 4</li>
      <li lanim="up">Element 1</li>
      <li lanim="right">Element 2</li>
      <li lanim="bottom">Element 3</li>
      <li lanim="left">Element 4</li>
    </ul>

    <div lanim-group>
      <h1 lanim>Title</h1>
      <ul>
        <li lanim="up">Element 1</li>
        <li lanim="right">Element 2</li>
        <li lanim="bottom">Element 3</li>
        <li lanim="left">Element 4</li>
        <li lanim="up">Element 1</li>
        <li lanim="right">Element 2</li>
        <li lanim="bottom">Element 3</li>
        <li lanim="left">Element 4</li>
        <li lanim="up">Element 1</li>
        <li lanim="right">Element 2</li>
        <li lanim="bottom">Element 3</li>
        <li lanim="left">Element 4</li>
      </ul>
    </div>
  </body>
</html>