<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5.0">
    <title>Counter</title>

    <!-- Core -->

    <script src="../Core/Helpers/Functions.js"></script>
    <script src="../Core/Helpers/Prototypes.js"></script>
    <script src="../Core/Core.js"></script>
    <script src="../Core/Events.js"></script>
    <script src="../Core/Window.js"></script>

    <!-- CubicBezier -->

    <script src="../CubicBezier/CubicBezier.js"></script>

    <!-- Transition -->

    <script src="../Transition/Transition.js"></script>

    <!-- ViewportWatcher -->

    <script src="../ViewportWatcher/ViewportWatcher.js"></script>

    <!-- Counter -->

    <script src="Counter.js"></script>

    <!-- Example -->

    <link href="Style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="counter-container">
      <div class="counter-box">
        <div class="counter" counter="60">0</div>
      </div>
      <div class="counter-box">
        <div class="counter" counter="40">0</div>
      </div>
      <div class="counter-box">
        <div class="counter" counter="-80">0</div>
      </div>
      <div class="counter-box">
        <div class="counter" counter="20">0</div>
      </div>
    </div>
  </body>
</html>