<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5.0">
    <title>BackgroundParallax</title>

    <!-- Core -->

    <script src="../Core/Core.js"></script>
    <script src="../Core/Events.js"></script>
    <script src="../Core/Window.js"></script>
    <script src="../Core/Helpers/Prototypes.js"></script>

    <!-- BackgroundParallax -->

    <script src="BackgroundParallax.js"></script>

    <!-- Example -->

    <link href="Style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt malesuada elit sed aliquet. Nullam at iaculis ante. Proin mattis ligula ac faucibus
      efficitur. Mauris tincidunt aliquet dolor, et blandit dolor interdum eu. Aenean rutrum, nulla eget vestibulum placerat, mi turpis tristique ex, nec mattis
      quam massa at dui. Maecenas in efficitur nibh, at facilisis arcu. Aliquam euismod in sem sed pulvinar. Duis viverra finibus lectus fringilla pretium. Duis
      felis dolor, ornare venenatis diam sit amet, scelerisque dignissim ipsum. Nam in arcu ac augue euismod mollis nec in tortor. Morbi vehicula urna arcu, non
      commodo urna scelerisque sed. Nam consequat ipsum est. Vestibulum maximus lobortis ornare.
    </div>
    <div class="image" style="background-image: url(../../Images/s1.jpg);" bparallax></div>
    <div class="text">
      Suspendisse dignissim et augue interdum pretium. Proin sit amet nisi at diam tincidunt ultrices. Donec vehicula sollicitudin velit. Mauris rutrum ultricies
      ex eu rutrum. Nunc varius, nunc vitae condimentum vehicula, quam magna congue est, non feugiat elit dui hendrerit leo. Aenean iaculis malesuada magna vel
      faucibus. Aliquam porttitor sapien et pretium blandit. Sed eu sem rutrum, mollis ipsum at, lacinia metus. Maecenas egestas hendrerit neque, eget tristique
      urna ultricies at.
    </div>
    <div class="image" style="background-image: url(../../Images/s2.jpg);" bparallax="reverse"></div>
    <div class="text">
      Nulla iaculis est eu urna gravida facilisis. Donec at suscipit nunc, in lobortis est. Phasellus lobortis quis lacus id molestie. Nulla efficitur dapibus
      tortor et ornare. Vestibulum feugiat mi ante, quis commodo dui tristique quis. Duis enim turpis, dignissim mollis urna vitae, convallis tristique sem.
      Duis auctor vehicula viverra. Ut eu justo aliquet, fringilla turpis id, hendrerit sapien. Nullam nec enim et urna gravida ultricies eu at massa.
    </div>
    <div class="image" style="background-image: url(../../Images/s3.jpg);" bparallax></div>
    <div class="text">
      Quisque blandit ipsum molestie, aliquet urna at, tristique diam. Donec sodales, libero et cursus feugiat, erat ex tincidunt purus, sit amet ultrices odio
      neque vel metus. Nulla facilisi. Maecenas lorem sapien, tincidunt non enim eu, auctor malesuada quam. Morbi dignissim, mi non fermentum blandit, risus nisi
      tristique sem, et volutpat nisi odio non magna. Vestibulum ut auctor lorem, vel dictum risus. Sed rutrum libero iaculis enim convallis, et aliquam dui lacinia.
    </div>
    <div class="image" style="background-image: url(../../Images/s4.jpg);" bparallax="reverse"></div>
    <div class="text">
      Praesent eu quam ac nulla venenatis ultrices. Etiam lacinia tortor vel pharetra vulputate. Morbi convallis tellus nulla, vitae consectetur erat feugiat
      quis. Nunc semper et est nec ornare. Nam mattis enim dolor, aliquam rutrum ante ornare eu. Maecenas sodales consequat quam at tristique. In tempus justo
      sed lorem laoreet malesuada. Integer ullamcorper arcu sit amet dolor luctus tincidunt. Pellentesque dignissim, ex at bibendum dapibus, eros nunc congue
      magna, sed vehicula elit sapien pellentesque ante. In tincidunt finibus tellus, quis faucibus eros. Mauris a tellus dapibus, egestas massa at, viverra
      odio. In hac habitasse platea dictumst.
    </div>
    <div class="image" style="background-image: url(../../Images/s5.jpg);" bparallax></div>
    <div class="text">
      Duis in auctor tortor. Quisque mattis ac massa et convallis. Mauris ut purus odio. Nullam posuere placerat dignissim. Proin ultricies massa ligula, id
      euismod enim porttitor vitae. Cras rhoncus sem vitae nisi venenatis, non aliquet dui aliquet. Sed volutpat viverra tincidunt. Sed vel scelerisque nisl.
      Aliquam dapibus augue justo, eu vulputate leo finibus at. Donec mollis ligula non massa semper, a eleifend sapien condimentum. Cras feugiat purus imperdiet,
      mattis nisi at, faucibus tortor.
    </div>
    <div class="image" style="background-image: url(../../Images/s6.jpg);" bparallax="reverse"></div>
    <div class="text">
      Curabitur non vehicula est, id vehicula leo. Suspendisse nec ante ultrices, tempor ipsum a, hendrerit est. Donec in elementum diam, vitae rutrum ex.
      Vivamus tempor purus id odio varius posuere. Suspendisse malesuada, lectus in scelerisque ultricies, ante velit aliquet nisi, eu bibendum justo purus
      non nunc. Suspendisse id aliquam risus, vitae molestie mauris. Maecenas aliquam tellus non augue scelerisque, eu sollicitudin nisi elementum. In sapien
      urna, convallis et blandit eget, fringilla quis eros.
    </div>
  </body>
</html>