<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5.0">
    <title>InfiniteGallery</title>

    <!-- Core -->

    <script src="../Core/Helpers/Functions.js"></script>
    <script src="../Core/Helpers/Prototypes.js"></script>
    <script src="../Core/Core.js"></script>
    <script src="../Core/Events.js"></script>
    <script src="../Core/Window.js"></script>

    <!-- InfiniteGallery -->

    <script src="InfiniteGallery.js"></script>

    <!-- Example -->

    <link href="Style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="infinite_gallery-block">
      <div class="infinite_gallery" infinite-gallery>
        <div class="infinite_gallery-child">
          <img src="../../Images/h1.jpg" class="infinite_gallery-image">
        </div>
        <div class="infinite_gallery-child">
          <img src="../../Images/h2.jpg" class="infinite_gallery-image">
        </div>
        <div class="infinite_gallery-child">
          <img src="../../Images/h3.jpg" class="infinite_gallery-image">
        </div>
        <div class="infinite_gallery-child">
          <img src="../../Images/h4.jpg" class="infinite_gallery-image">
        </div>
        <div class="infinite_gallery-child">
          <img src="../../Images/h5.jpg" class="infinite_gallery-image">
        </div>
      </div>
    </div>
  </body>
</html>